{% extends "base.html" %}

{% macro prettify(answer) -%}
{% if answer == "yes" %}
<span class="glyphicon glyphicon-ok"></span>
{% elif answer == "no" %}
<span class="glyphicon glyphicon-remove"></span>
{% else %}
{{ answer }}
{% endif %}
{%- endmacro %}

{% block title %}Comparison: {{ comparison.title }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-12">
    <h2>Comparison: {{ comparison.title }}</h2>

    <table class="table">
      <thead>
        <tr>
          <th>Feature</th>
          {% for thing in comparison.things %}
            <th>{{ thing.title }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for feature in comparison.features %}
          <tr>
            <td>{{ feature.title }}</td>
            {% for answer in feature.answers %}
              <td>{{ prettify(answer) }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
